<div class="container">
  <div class="auth-image">
    <div class="auth-image-bg"></div>
  </div>
  <div class="auth-content">
    <div class="auth-content-header">
      <span class="logo">
        <img src="../../../assets/img/logo.png" alt="image" />
      </span>
      <h3>Forgot Password</h3>
      <p>Don’t worry, we’ll help you with a reset process</p>
    </div>
    <form action="">
      <div class="form-field">
        <input type="email" placeholder="Enter Email Address" />
      </div>
      <div class="form-btn">
        <button class="btn prim-btn">Send Reset Link</button>
      </div>
    </form>
    <div class="auth-content-footer">
      <p routerLink="" class="clickable">Back to Login</p>
    </div>
  </div>
</div>
