<div class="main-body-content">
  <section class="contact-data">
    <div class="header">
      <h2>Contact Data</h2>
    </div>
    <div class="body">
      <div class="table">
        <div class="table-head table-row">
          <span class="table-head-item item">Name</span>
          <span class="table-head-item item">Email</span>
          <span class="table-head-item item">Message</span>
          <span class="table-head-item item">Status</span>
          <span class="table-head-item item">action</span>
        </div>
        <div class="table-body">
          <div class="table-list table-row" *ngFor="let i of contactRequests">
            <span class="table-list-item item image">{{ i.name }}</span>
            <span class="table-list-item item">{{ i.email }}</span>
            <span class="table-list-item item">
              <p>
                <strong class="green-color">{{ i.subject }}</strong> <br />
                {{ i.message }}
              </p>
            </span>
            <span class="table-list-item item green-color">{{
              replyStatusMessage
            }}</span>
            <span class="table-list-item item action">
              <img
                src="../../../assets/img/svg/reply.svg"
                alt="image"
                class="clickable reply"
                title="Reply"
                (click)="openReplyModal()"
              />
              <img
                src="../../../assets/img/svg/Delete.svg"
                alt="image"
                class="clickable delete"
                title="Delete"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-info">
    <div class="header">
      <h2>Contact Information</h2>
    </div>
    <div class="body">
      <div class="table">
        <div class="table-head table-row">
          <span class="table-head-item item">Address</span>
          <span class="table-head-item item">Phone Number</span>
          <span class="table-head-item item">Email Address</span>
          <span class="table-head-item item">Whistle Blowing</span>
        </div>
        <div class="table-body">
          <div class="table-list table-row">
            <span class="table-list-item item"
              ><input
                type="text"
                value="16 Balarabe Musa Crescent Off Samuel Manuwa Road, Victoria Island Lagos"
            /></span>
            <span class="table-list-item item"
              ><input type="text" value="(+234) 809 086 5708"
            /></span>
            <span class="table-list-item item"
              ><input type="text" value="info@firstmarinatrust.com"
            /></span>
            <span class="table-list-item item image"
              ><input type="text" value="whistle-blowing@firstmarinatrust.com"
            /></span>
          </div>
        </div>

        <div class="save-btn">
          <button class="btn sec-btn">Save changes</button>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Delete Modal -->
<div class="modal-area" [class.show-modal]="replyModal">
  <div class="modal delete-modal">
    <app-reply
      *ngIf="replyModal"
      [replyUrl]="replyMessageUrl"
      [currentItem]="currentItem"
      (closeModal)="closeReplyModal()"
    ></app-reply>
  </div>
</div>

<!-- Delete Modal -->
<!-- <div class="modal-area" [class.show-modal]="deleteModal">
  <div class="modal delete-modal">
    <app-delete
      *ngIf="deleteModal"
      [deleteUrl]="deleteFinanceUrl"
      [currentItem]="currentItem"
      (deleteModal)="closeDeleteModal()"
    ></app-delete>
  </div>
</div> -->
