@import "../../../assets/css/add-edit-modal.css";

/* contact Data starts */
.contact-data .table .table-row {
  grid-template-columns: repeat(8, 1fr);
}
.contact-data .item:nth-child(1) {
  grid-column: 1 / 2;
}
.contact-data .item:nth-child(2) {
  grid-column: 2 / 4;
}
.contact-data .item:nth-child(3) {
  grid-column: 4 / 7;
}
.contact-data .item:nth-child(4) {
  grid-column: 7 / 8;
}
.contact-data .item:nth-child(5) {
  grid-column: 8 / 9;
}
/* contact Data ends */

/* Contact Info starts */
.contact-info .table .table-row {
  padding: 0;
  grid-template-columns: repeat(7, 1fr);
}
/* .contact-info .table-body {
  display: grid;
  grid-gap: 1.5rem;
} */
.contact-info .table-list {
  background-color: transparent;
  border-radius: 0px;
}
.contact-info .item:nth-child(1) {
  grid-column: 1 / 3;
}
.contact-info .item:nth-child(2) {
  grid-column: 3 / 4;
}
.contact-info .item:nth-child(3) {
  grid-column: 4 / 6;
}
.contact-info .item:nth-child(4) {
  grid-column: 6 / 9;
}
/* Contact Info ends */

.contact-info input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--dark-blue-color);
  background-color: transparent;
  outline: none;
  padding: 1rem 0;
}
.contact-info input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.save-btn {
  display: grid;
  justify-content: flex-end;
  margin-top: 2rem;
}
.save-btn small {
  color: var(--primary-color);
  margin-top: 0.5rem;
}
