li,
.logout {
  display: flex;
  align-items: center;
}
li img,
.logout img {
  margin-right: 0.5rem;
}
/* Side Nav starts */
.sidenav-logo {
  display: inline-block;
  margin-top: 2rem;
}
.sidenav-logo img {
  width: 100%;
  height: auto;
}
.sidenav-logo,
nav {
  margin-left: 10%;
}
nav {
  margin-top: 2rem;
}
nav ul {
  display: grid;
  grid-gap: 1.5rem;
}
nav ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  position: relative;
  transition: all 4s ease-in;
}
nav ul li::after {
  transition: all 4s ease-in;
}
nav ul li:hover:after,
nav ul li.active:after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: var(--primary-color);
}
nav ul li:hover,
nav ul li.active {
  color: var(--primary-color);
}
.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #ff2e00;
  color: var(--white-color);
  justify-content: center;
}
.logout:hover {
  background-color: #d12600;
}
/* Side Nav ends */
