<!-- Side Nav -->
<!-- Logo -->
<span routerLink="/" class="sidenav-logo clickable">
  <img src="../../../../assets/img/logo.png" alt="image" />
</span>
<nav>
  <ul class="sidenav-list">
    <li
      class="clickable"
      routerLinkActive="active"
      routerLink="/dashboard"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="../../../../assets/img/svg/dashboard.svg" alt="image" />Overview
    </li>
    <li
      class="clickable"
      routerLinkActive="active"
      routerLink="/dashboard/pages"
    >
      <img src="../../../../assets/img/svg/Group.svg" alt="image" />Pages
    </li>
    <li
      class="clickable"
      routerLinkActive="active"
      routerLink="/dashboard/projects"
    >
      <img src="../../../../assets/img/svg/menu.svg" alt="image" />
      Projects
    </li>
    <li
      class="clickable"
      routerLinkActive="active"
      routerLink="/dashboard/about"
    >
      <img src="../../../../assets/img/svg/tax_form.svg" alt="image" />
      About
    </li>
    <li
      class="clickable"
      routerLinkActive="active"
      routerLink="/dashboard/contact"
    >
      <img
        src="../../../../assets/img/svg/Folder_Customization.svg"
        alt="image"
      />
      Contact
    </li>
    <!-- <li class="clickable" routerLinkActive="" routerLink="/dashboard">
      <img src="../../../../assets/img/svg/Settings.svg" alt="image" />Site
      Settings
    </li> -->
  </ul>
</nav>
<span class="logout clickable" (click)="logOut()">
  <img src="../../../../assets/img/svg/Logout.svg" alt="image" />
  Log Out
</span>
