<!-- Modal -->
<div class="modal-head">
  <h2>Reply</h2>
  <img
    src="../../../assets/img/svg/close.svg"
    alt="image"
    class="close-icon clickable"
    (click)="closeReplyModal()"
  />
</div>
<form
  [formGroup]="form"
  (ngSubmit)="replyMessage(currentItem._id, currentItem.email)"
>
  <div class="form-field">
    <input
      type="text"
      name="subject"
      placeholder="Subject"
      formControlName="subject"
      autocomplete="subject"
    />
  </div>
  <div class="form-field">
    <textarea
      placeholder="Message"
      cols="30"
      rows="4"
      formControlName="message"
    ></textarea>
  </div>
  <!-- Error -->
  <span class="message red-color" id="message" [class.show]="showError">{{
    errorMessage
  }}</span>

  <button class="btn dark-blue-btn clickable">
    <span *ngIf="loading">Sending...</span>
    <span *ngIf="!loading">Send</span>
  </button>
</form>

<!-- Alert pop up -->
<app-alert-popup
  [alertPopupMessage]="alertPopupMessage"
  [alertPopup]="alertPopup"
></app-alert-popup>
