<div class="main-body-content">
  <section class="projects">
    <div class="header">
      <h2>Projects</h2>
      <span>
        <button class="btn dark-blue-btn">Add New</button>
      </span>
    </div>
    <div class="body">
      <div class="table">
        <div class="table-head table-row">
          <span class="table-head-item item">Image</span>
          <span class="table-head-item item">Name</span>
          <span class="table-head-item item">Details</span>
          <span class="table-head-item item">action</span>
        </div>
        <div class="table-body">
          <div class="table-list table-row">
            <span class="table-list-item item image"
              ><img src="../../../assets/img/svg/avatar.svg" alt=""
            /></span>
            <span class="table-list-item item">Project 1</span>
            <span class="table-list-item item"
              >We have several products in our investment portfolio such as
              Money Market instruments, Investment in Blue Chip companies and
              other viable products. We also operate in the Venture Capital
              sphere.</span
            >
            <span class="table-list-item item action">
              <img
                src="../../../assets/img/svg/Delete.svg"
                alt="image"
                class="clickable edit"
                title="Edit"
              />
              <img
                src="../../../assets/img/svg/Delete.svg"
                alt="image"
                class="clickable delete"
                title="Delete"
              />
            </span>
          </div>
          <div class="table-list table-row">
            <span class="table-list-item item">Home</span>
            <span class="table-list-item item">November 03, 2021</span>
            <span class="table-list-item item">https://www.fmtl.com</span>
            <span class="table-list-item item"
              ><img
                src="../../../assets/img/svg/Delete.svg"
                alt="image"
                class="clickable"
            /></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
