<section class="page">
  <div class="header">
    <h2>Pages</h2>
    <span>
      <button class="btn dark-blue-btn">Add New</button>
    </span>
  </div>
  <div class="body">
    <div class="table">
      <div class="table-head table-row">
        <span class="table-head-item name">page name</span>
        <span class="table-head-item date">date created</span>
        <span class="table-head-item link">link</span>
        <span class="table-head-item action">action</span>
      </div>
      <div class="table-body">
        <div class="table-list table-row">
          <span class="table-list-item name">Home</span>
          <span class="table-list-item date">November 03, 2021</span>
          <span class="table-list-item link">https://www.fmtl.com</span>
          <span class="table-list-item action"
            ><img
              src="../../../assets/img/svg/Delete.svg"
              alt="image"
              class="clickable"
          /></span>
        </div>
        <div class="table-list table-row">
          <span class="table-list-item name">Home</span>
          <span class="table-list-item date">November 03, 2021</span>
          <span class="table-list-item link">https://www.fmtl.com</span>
          <span class="table-list-item action"
            ><img
              src="../../../assets/img/svg/Delete.svg"
              alt="image"
              class="clickable"
          /></span>
        </div>
      </div>
    </div>
  </div>
</section>
