<div class="main-body-content">
  <section class="pages">
    <div class="header">
      <h2>Pages</h2>
      <span>
        <button class="btn dark-blue-btn" (click)="openAddModal()">
          Add New
        </button>
      </span>
    </div>
    <div class="body">
      <div class="table">
        <div class="table-head table-row">
          <span class="table-head-item item">Name</span>
          <span class="table-head-item item">Description</span>
          <span class="table-head-item item">Image</span>
          <span class="table-head-item item">Actions</span>
        </div>
        <div class="table-body">
          <ng-container *ngIf="finance?.length > 0; else noItems">
            <div class="table-list table-row" *ngFor="let i of finance">
              <span class="table-list-item item image">{{ i.name }}</span>
              <span class="table-list-item item green-color">{{
                i.description
              }}</span>
              <span
                class="table-list-item item image"
                *ngFor="let childItem of i.images"
                ><img [src]="childItem.url" alt="image"
              /></span>
              <span class="table-list-item item action">
                <img
                  src="../../../assets/img/svg/edit.svg"
                  alt="image"
                  class="clickable reply"
                  title="Reply"
                  (click)="openEditModal(i)"
                />
                <img
                  src="../../../assets/img/svg/Delete.svg"
                  alt="image"
                  class="clickable delete"
                  title="Reply"
                  (click)="openDeleteModal(i)"
                />
              </span>
            </div>
          </ng-container>

          <!-- If the Product List is empty -->
          <ng-template #noItems>
            <p style="text-align: center; font-weight: 500">Empty list</p>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal-area" [class.show-modal]="deleteModal">
  <div class="modal delete-modal">
    <app-delete
      [deleteFinanceUrl]="deleteFinanceUrl"
      [currentItem]="currentItem"
      (deleteModal)="closeDeleteModal()"
    ></app-delete>
  </div>

  <!-- Modal -->
  <div class="modal-area" [class.show-modal]="addModal">
    <div class="modal">
      <app-add
        [postFinanceUrl]="postFinanceUrl"
        (addModal)="closeAddModal()"
      ></app-add>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal-area" [class.show-modal]="editModal">
    <div class="modal">
      <app-edit
        [updateFinanceUrl]="updateFinanceUrl"
        [currentItem]="currentItem"
        (editModal)="closeEditModal()"
      ></app-edit>
    </div>
  </div>

  <div class="alert-popup" [class.show]="alertPopup">
    <div class="alert-popup-content">
      <p>{{ alertPopupMessage }}</p>
    </div>
  </div>
</div>
