/* Pages starts */
.pages .table .table-row {
  grid-template-columns: repeat(5, 1fr);
}
.pages .item:nth-child(1) {
  grid-column: 1 / 2;
}
.pages .item:nth-child(2) {
  grid-column: 2 / 4;
}
.pages .item:nth-child(3) {
  grid-column: 4 / 5;
}
.pages .item:nth-child(4) {
  grid-column: 5 / 6;
}

/* Modal starts */
.modal-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f5f6a4;
  display: flex;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
}
.modal-area.show-modal {
  opacity: 1;
  visibility: visible;
}
.modal {
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  margin: auto;
  width: 30%;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 870px) {
  .modal {
    width: 90%;
  }
}
.modal .modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.modal .modal-head .close-icon {
  width: 30px;
  height: 30px;
}
.modal form {
  display: grid;
  grid-gap: 1rem;
}
.form-field {
  background-color: #e5e5e5;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}
.form-field:hover {
  border: 1px solid var(--dark-blue-color);
}
.modal form input,
.modal form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.upload-img .form-field {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upload-img .selected-img {
  margin-top: 0.5rem;
}
.message {
  display: none;
}
.message.show {
  display: block;
}

/* Delete Modal starts */
.delete-modal .modal-head {
  margin-bottom: 1rem;
}
.delete-modal .modal-body-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.delete-modal .modal-body-btns .btn {
  margin-left: 1rem;
}
.delete-modal .modal-body-btns .tert-btn:hover {
  color: var(--dark-blue-color);
}

/* Delete Modal ends */
/* Modal ends */

/* Message popup starts */
.alert-popup {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
.alert-popup.show {
  opacity: 1;
  visibility: visible;
}
.alert-popup-content {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}
/* Message popup ends */
