/* Variables starts */
:root {
  --primary-color: #1ead5d;
  --secondary-color: #2f4858;
  --dark-blue-color: #0b2880;
  --white-color: #ffffff;
  --grey-color: hsl(226, 7%, 62%);
  --danger-color: #ff2e00;
  --danger-hover-color: #d12600;
  --box-shadow: -5px 8px 28px -13px rgba(150, 146, 146, 1);
  -webkit-box-shadow: -5px 8px 28px -13px rgba(150, 146, 146, 1);
  -moz-box-shadow: -5px 8px 28px -13px rgba(150, 146, 146, 1);
  --border-radius: 5px;
}
/* Variables ends */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #f0f3f4;
  color: var(--secondary-color);
}

/* General starts */
a {
  color: var(--secondary-color);
}
button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}
textarea {
  resize: none;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  outline: none;
  transition: all 0.4s;
  border-radius: var(--border-radius);
  background-color: transparent;
}
.prim-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.prim-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.sec-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.sec-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.dark-blue-btn {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  border: 1px solid transparent;
}
.dark-blue-btn:hover {
  background-color: var(--white-color);
  color: var(--dark-blue-color);
  border: 1px solid var(--dark-blue-color);
}
.danger-btn {
  background-color: var(--danger-color);
  color: var(--white-color);
  border: 1px solid transparent;
}
.danger-btn:hover {
  background-color: var(--danger-hover-color);
}
/* Buttons ends */

.clickable {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.red-color {
  color: var(--danger-color);
}
.green-color {
  color: var(--primary-color);
}
.main-body-content {
  display: grid;
  grid-gap: 2rem;
}

/* Section header, Table starts */
section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
section .header h2 {
  font-weight: 500;
}
.table {
  width: 100%;
}
@media only screen and (max-width: 977px) {
  .table {
    width: 200%;
  }
  .body {
    width: 100%;
    overflow-x: scroll;
  }
}
.table .table-row {
  display: grid;
  grid-gap: 1rem;
  align-items: flex-start;
}
.table .table-head {
  padding: 0 2rem 1.5rem 2rem;
}
.table .table-list {
  padding: 1.5rem 2rem;
}
.table-head .table-head-item {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 21px;
}
.table-body {
  display: grid;
  grid-gap: 1.5rem;
}
.table-list {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
.table-list .table-list-item {
  font-weight: 600;
  line-height: 24px;
}
.table-list .table-list-item.image img {
  width: 100px;
  height: 100px;
  border: 5px solid rgba(30, 173, 93, 0.5);
  border-radius: var(--border-radius);
}
.table-list .table-list-item.action {
  display: flex;
  align-items: center;
}
.table-list .table-list-item.action img {
  width: 38px;
  height: 38px;
  position: relative;
  margin-right: 0.2rem;
  background-color: transparent;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
.table-list .table-list-item.action .reply:hover {
  background-color: rgba(0, 0, 255, 0.26);
}
.table-list .table-list-item.action .delete:hover {
  background-color: rgba(255, 0, 0, 0.26);
}
/* Section header, Table ends */

/* Headings starts */
/* h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
  font-weight: 500;
}
h3 {
  font-size: 26px;
  font-weight: 500;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
p {
  font-weight: 300;
} */
/* Headings ends */
